Latest Version/BodyBasics-WPF/Service References/XboxWCFService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/XboxWCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/XboxWCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBodyDataObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BodyDataObject" nillable="true" type="tns:BodyDataObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBodyDataObject" nillable="true" type="tns:ArrayOfBodyDataObject" />
  <xs:complexType name="BodyDataObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="JointPoints" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Joints" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BodyDataObject" nillable="true" type="tns:BodyDataObject" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>